---
layout: layout.liquid
---
<article class="flex flex-col h-entry items-center">
  <h1 class="font-tropic w-content py-6 sm:py-12 px-7 sm:px-10 text-2xl sm:text-4xl md:text-5xl leading-normal sm:leading-normal md:leading-normal p-name text-balance text-salmon bg-purple_heart rounded-t-lg">
    {{ headline | default: title | replace: 'Ö', 'ö' }}
  </h1>

  <div class="w-content e-content bg-white">
    <div class="px-4 py-5 sm:p-6 markdown">
      {% if photos %}
        {% for photo in photos %}
          <div class="child flex flex-col items-center">
            <div class="mb-10 max-w-screen-h">
              <img
                src="{{ photo }}"
                alt="{{ title }}"
                eleventy:widths="800,1200,2000,3000,4000"
                sizes="(max-width: 1000px) 100vw, 133vh"
                class="u-photo max-h-screen object-contain p-6 bg-white"
              >
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {{ content }}

      <open-heart
        class="mx-auto my-3 block w-fit rounded-full px-2 py-1"
        href="https://emojis.jonas-brusman-se.pages.dev/open_heart?id={{page.url}}"
        emoji="❤️"
      >
        ❤️
      </open-heart>
    </div>
  </div>
  {% unless no_footer %}
    <div class="w-content mb-2 text-gray-700 bg-salmon-200">
      <div class="px-4 py-5 sm:p-6">
        <table class="w-full">
          {% if page.date %}
            <tr>
              <th class="footer-header">
                {{ date_desc | default: 'Published at' }}
              </th>
              <td class="footer-data">
                <time class="dt-published" page.datetime="{{page.date | date: "%Y-%m-%d" }}">
                  <a href="{{page.url}}" class="u-url">{{ page.date | date: '%Y-%m-%d' }}</a>
                </time>
              </td>
            </tr>
          {% endif %}

          {% if tags.length > 0 %}
            <tr>
              <th class="footer-header">Tags</th>
              <td class="footer-data">
                {% for tag in tags %}
                  {% unless tag == 'blogPost' %}
                    <a href="/tags/{{tag}}/" class="prefix-hash link p-category">{{ tag }}</a>
                  {% endunless %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          {% assign similar = collections.all | similarPosts: page.inputPath, tags %}
          {% if similar.length > 0 %}
            <tr>
              <th class="footer-header whitespace-nowrap">Related posts</th>
              <td class="footer-data">
                <ul class="list-disc list-inside">
                  {% for similarPost in similar limit: 3 -%}
                    <li class="mb-1">
                      <a href="{{ similarPost.url }}" class="link">{{ similarPost.data.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          {% endif %}

          {% if syndications.length > 0 %}
            <tr>
              <th class="footer-header hidden">This post elsewhere</th>
              <td class="hidden align-baseline">
                {% for url in syndications -%}
                  <a href="{{ url }}" rel="syndication" class="u-syndication link">{{ url }}</a>
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          <tr>
            <th class="footer-header">Have some thoughts?</th>
            <td class="footer-data">
              <a href="mailto:blog@brusman.se?subject=Re: {{title}}" class="link">Reply by email</a>
            </td>
          </tr>

          <tr class="js-tr-webmentions">
            <th class="footer-header">Reactions elsewhere</th>
            <td id="webmentions" class="footer-data flex flex-col"></td>
          </tr>
        </table>

        <script>
          window.customElements.whenDefined('open-heart').then(() => {
            for (const oh of document.querySelectorAll('open-heart')) {
              oh.getCount();
            }
          });
          window.addEventListener('open-heart', (e) => {
            e && e.target && e.target.getCount && e.target.getCount();
          });
        </script>

        <a rel="author" class="hidden p-author h-card" href="https://jonas.brusman.se">Jonas Brusman</a>
        <script
          src="/js/webmention.min.js"
          data-page-url="https://jonas.brusman.se{{page.url}}"
          data-add-urls="https://jonas.brusman.se/{{date | date: "%Y-%m-%d"}}-{{page.fileSlug}}/"
          data-comments-are-reactions="true"
          async
        ></script>
      </div>
    </div>
  {% endunless %}
</article>
