---
layout: layout.liquid
---
<article class="flex flex-col h-entry items-center">
  <h1 class="font-black w-content py-6 sm:py-6 px-6 sm:px-8 text-3xl sm:text-4xl md:text-5xl tracking-tight leading-normal sm:leading-normal md:leading-normal p-name text-balance text-salmon-200 bg-purple_heart rounded-t">
    {{ headline | default: title }}
  </h1>

  <div class="w-content e-content bg-white">
    <div class="px-4 py-5 sm:p-6 markdown">
      {% if photos %}
        {% for photo in photos %}
          <div class="child flex flex-col items-center">
            <div class="mb-10 max-w-screen-h">
              <img
                src="{{ photo }}"
                alt="{{ title }}"
                loading="{% if forloop.index == 1 %}eager{% else %}lazy{% endif %}"
                eleventy:widths="800,1200,2000,3000,4000"
                sizes="(max-width: 1000px) 100vw, 133vh"
                class="u-photo max-h-screen object-contain p-6 bg-white"
              >
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {{ content }}

      <open-heart
        class="mx-auto my-3 block w-fit rounded-full px-2 py-1"
        href="/open_heart?id={{page.url}}"
        emoji="❤️"
      >
        ❤️
      </open-heart>
    </div>
  </div>
  {% unless no_footer %}
    {% if mastodonPost %}
      <template id="mastodon-post-template">
        <a data-key="url">
          Reposts
          <span class="font-medium text-purple_heart" data-key="reblogs_count"></span>
        </a>
        <a data-key="url">
          Replies
          <span class="font-medium text-purple_heart" data-key="replies_count"></span>
        </a>
        <a data-key="url">
          Favourites
          <span class="font-medium text-purple_heart" data-key="favourites_count"></span>
        </a>
      </template>
    {% endif %}

    <div class="w-content mb-2 text-gray-700 bg-salmon-200 shadow-inner">
      <div class="px-4 py-5 sm:p-6">
        <table class="w-full">
          {% if page.date %}
            <tr>
              <th class="footer-header">
                {{ date_desc | default: 'Published at' }}
              </th>
              <td class="footer-data">
                <time class="dt-published" page.datetime="{{page.date | date: "%Y-%m-%d" }}">
                  <a href="{{page.url}}" class="u-url">{{ page.date | date: '%Y-%m-%d' }}</a>
                </time>
              </td>
            </tr>
          {% endif %}

          {% if tags.length > 0 %}
            <tr>
              <th class="footer-header">Tags</th>
              <td class="footer-data">
                {% for tag in tags %}
                  {% unless tag == 'blogPost' %}
                    <a href="/tags/{{tag}}/" class="prefix-hash link p-category">{{ tag }}</a>
                  {% endunless %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          {% assign similar = collections.all | similarPosts: page.inputPath, tags %}
          {% if similar.length > 0 %}
            <tr>
              <th class="footer-header whitespace-nowrap">Related posts</th>
              <td class="footer-data">
                <ul class="list-disc list-inside">
                  {% for similarPost in similar limit: 3 -%}
                    <li class="mb-1">
                      <a href="{{ similarPost.url }}" class="link">{{ similarPost.data.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          {% endif %}

          {% if syndications.length > 0 %}
            <tr>
              <th class="footer-header hidden">This post elsewhere</th>
              <td class="hidden align-baseline">
                {% for url in syndications -%}
                  <a href="{{ url }}" rel="syndication" class="u-syndication link">{{ url }}</a>
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          <tr>
            <th
              class="footer-header"
              {% if mastodonPost %}
                rowspan="2"
              {% endif %}
            >
              Have some thoughts?
            </th>
            <td class="footer-data">
              <a href="mailto:blog@brusman.se?subject=Re: {{title}}" class="link">Reply by email</a>
            </td>
          </tr>

          {% if mastodonPost %}
            <tr>
              <td class="footer-data">
                <mastodon-post class="grid grid-flow-col auto-cols-max gap-3">
                  <a href="{{mastodonPost}}" class="link whitespace-nowrap">Discuss on Mastodon</a>
                </mastodon-post>
              </td>
            </tr>
          {% endif %}
        </table>

        <a rel="author" class="hidden p-author h-card" href="https://jonas.brusman.se">Jonas Brusman</a>
      </div>
    </div>
  {% endunless %}
</article>
