---
layout: layout.liquid
---
<article class="h-entry flex flex-col items-center overflow-auto">
  <h1 class="w-content p-name text-4xl font-medium tracking-tight text-balance sm:text-5xl/14 md:text-6xl/17">
    {{ headline | default: title }}
  </h1>

  <div class="w-content e-content">
    <div class="markdown py-5">
      {% if photos %}
        <div class="js-gallery">
          {% for photo in photoObjects %}
            {% lightbox_link photo.stats %}
                {% image_html photo.stats "blog_post" post.data.title %}
            {% endlightbox_link %}
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}

      {% unless no_heart %}
        <open-heart
          class="mx-auto my-3 block w-fit rounded-md bg-white px-2.5 py-1.5 pb-1 text-lg font-semibold text-salmon-600 shadow-xs ring-1 ring-salmon-300 ring-inset hover:bg-salmon-50 dark:bg-neutral-700 "
          href="/open_heart?id={{page.url}}"
          emoji="❤️"
        >
          ❤️
        </open-heart>
      {% endunless %}
    </div>
  </div>
  {% unless no_footer %}
    <div class="w-content mb-2 border-t-4 border-salmon-50 dark:border-salmon-600">
      <div class="py-5">
        <table class="w-full">
          {% if page.date %}
            <tr>
              <th class="footer-header">
                {{ date_desc | default: 'Published at' }}
              </th>
              <td class="footer-data">
                <time class="dt-published" page.datetime="{{page.date | date: "%Y-%m-%d" }}">
                  <a href="{{page.url}}" class="u-url">{{ page.date | date: '%Y-%m-%d' }}</a>
                </time>
              </td>
            </tr>
          {% endif %}

          {% if tags.length > 0 %}
            <tr>
              <th class="footer-header">Tags</th>
              <td class="footer-data">
                {% for tag in tags %}
                  {% unless tag == 'blogPost' %}
                    <a href="/tags/{{tag}}/" class="prefix-hash p-category link">{{ tag }}</a>
                  {% endunless %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          {% assign similar = collections.all | similarPosts: page.inputPath, tags %}
          {% if similar.length > 0 %}
            <tr>
              <th class="footer-header whitespace-nowrap">Related posts</th>
              <td class="footer-data">
                <ul class="list-inside list-disc">
                  {% for similarPost in similar limit: 3 -%}
                    <li class="mb-1">
                      <a href="{{ similarPost.url }}" class="link">{{ similarPost.data.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          {% endif %}

          {% if syndications.length > 0 %}
            <tr>
              <th class="hidden footer-header">This post elsewhere</th>
              <td class="hidden align-baseline">
                {% for url in syndications -%}
                  <a href="{{ url }}" rel="syndication" class="u-syndication link">{{ url }}</a>
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          {% assign postMentions = webmentions | getPostWebmentions: page.url %}

          <tr>
            <th class="footer-header">Have some thoughts?</th>
            <td class="footer-data">
              Reply via
              <a href="mailto:blog@brusman.se?subject=Re: {{title}}" class="link">email</a>
              {%- if mastodonPost and blueskyPost %}, {% elsif mastodonPost or blueskyPost %} or {% endif %}
              {% if mastodonPost %}
                <a href="{{mastodonPost}}" class="whitespace-nowrap link">Mastodon</a>
              {% endif %}
              {% if mastodonPost and blueskyPost %} or {% endif %}
              {% if blueskyPost %}
                <a href="{{blueskyPost}}" class="whitespace-nowrap link">Bluesky</a>
              {% endif %}
              {% if postMentions %}
                <div class="mt-2 flex gap-3">
                  {% for postMention in postMentions %}
                    {% webmentionIcon postMention %}
                  {% endfor %}
                </div>
              {% endif %}
            </td>
          </tr>
        </table>

        <a rel="author" class="p-author h-card hidden" href="https://jonas.brusman.se">Jonas Brusman</a>
      </div>
    </div>
  {% endunless %}
</article>
