---
layout: layout.liquid
---
<article class="h-entry flex flex-col items-center overflow-auto">
  <h1 class="w-content p-name text-4xl font-black tracking-tight text-balance text-salmon-500 sm:text-5xl/14 md:text-6xl/17">
    {{ headline | default: title }}
  </h1>

  <div class="w-content e-content">
    <div class="markdown py-5">
      {% if photos %}
        <div class="js-gallery">
          {% for photo in photos %}
            {% lightbox_link photo %}
            <img
              src="{{ photo }}"
              alt="{{ title }}"
              loading="{% if forloop.index == 1 %}eager{% else %}lazy{% endif %}"
              eleventy:widths="800,1200,2000,3000,4000"
              sizes="(max-width: 1000px) 100vw, 133vh"
              class="u-photo block max-h-screen w-auto bg-neutral-50 object-contain pb-4 lg:pb-6"
            >
            {% endlightbox_link %}
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}

      {% unless no_heart %}
        <open-heart
          class="mx-auto my-3 block w-fit rounded-md bg-white px-2.5 py-1.5 pb-1 text-lg font-semibold text-salmon-600 shadow-xs ring-1 ring-salmon-300 ring-inset hover:bg-salmon-50"
          href="/open_heart?id={{page.url}}"
          emoji="❤️"
        >
          ❤️
        </open-heart>
      {% endunless %}
    </div>
  </div>
  {% unless no_footer %}
    {% if mastodonPost %}
      <template id="mastodon-post-template">
        <a data-key="url">
          Reposts
          <span class="font-medium text-salmon-500" data-key="reblogs_count"></span>
        </a>
        <a data-key="url">
          Replies
          <span class="font-medium text-salmon-500" data-key="replies_count"></span>
        </a>
        <a data-key="url">
          Favourites
          <span class="font-medium text-salmon-500" data-key="favourites_count"></span>
        </a>
      </template>
    {% endif %}

    <div class="w-content mb-2 border-t-4 border-salmon-500">
      <div class="py-5">
        <table class="w-full">
          {% if page.date %}
            <tr>
              <th class="footer-header">
                {{ date_desc | default: 'Published at' }}
              </th>
              <td class="footer-data">
                <time class="dt-published" page.datetime="{{page.date | date: "%Y-%m-%d" }}">
                  <a href="{{page.url}}" class="u-url">{{ page.date | date: '%Y-%m-%d' }}</a>
                </time>
              </td>
            </tr>
          {% endif %}

          {% if tags.length > 0 %}
            <tr>
              <th class="footer-header">Tags</th>
              <td class="footer-data">
                {% for tag in tags %}
                  {% unless tag == 'blogPost' %}
                    <a href="/tags/{{tag}}/" class="prefix-hash p-category link">{{ tag }}</a>
                  {% endunless %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          {% assign similar = collections.all | similarPosts: page.inputPath, tags %}
          {% if similar.length > 0 %}
            <tr>
              <th class="footer-header whitespace-nowrap">Related posts</th>
              <td class="footer-data">
                <ul class="list-inside list-disc">
                  {% for similarPost in similar limit: 3 -%}
                    <li class="mb-1">
                      <a href="{{ similarPost.url }}" class="link">{{ similarPost.data.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          {% endif %}

          {% if syndications.length > 0 %}
            <tr>
              <th class="hidden footer-header">This post elsewhere</th>
              <td class="hidden align-baseline">
                {% for url in syndications -%}
                  <a href="{{ url }}" rel="syndication" class="u-syndication link">{{ url }}</a>
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          <tr>
            <th
              class="footer-header"
              {% if mastodonPost %}
                rowspan="2"
              {% endif %}
            >
              Have some thoughts?
            </th>
            <td class="footer-data">
              <a href="mailto:blog@brusman.se?subject=Re: {{title}}" class="link">Reply by email</a>
            </td>
          </tr>

          {% if mastodonPost %}
            <tr>
              <td class="footer-data">
                <mastodon-post class="flex flex-wrap gap-x-3 gap-y-1">
                  <a href="{{mastodonPost}}" class="whitespace-nowrap link">Discuss on Mastodon</a>
                </mastodon-post>
              </td>
            </tr>
          {% endif %}
        </table>

        <a rel="author" class="p-author h-card hidden" href="https://jonas.brusman.se">Jonas Brusman</a>
      </div>
    </div>
  {% endunless %}
</article>
