---
layout: layout.liquid
---
<article class="flex flex-col h-entry items-center">
  <h1 class="w-content font-bold leading-none mb-4 md:text-5xl text-3xl text-gray-700 p-name border-b-4 border-branding pb-4">
    {{ headline | default: title }}
  </h1>

  {% if photos %}
    <div class="flex -mx-2 justify-center mb-8 flex-col items-center max-w-screen-h">
      {% for image in photos %}
        {% include "responsive_image" %}
      {% endfor %}
    </div>
  {% endif %}

  <div class="markdown w-content e-content">
    {{content}}
  </div>

  <div class="border-t-2 w-content mb-2 mt-2 pt-2 text-gray-700">
    <dl>
      <dt class="font-medium">Published at</dt>
      <dd class="mb-1">
        <time class="dt-published" datetime="{{date | date: "%Y-%m-%d" }}">
          <a href="{{post.url}}" class="u-url">{{date | date: "%Y-%m-%d"}}</a>
        </time>
      </dd>

      <dt class="font-medium">Tags</dt>
      <dd class="mb-1">
        {% for tag in tags %}
          {% unless tag == "entries" %}
            <a href="/tags/{{tag}}" class="prefix-hash link p-category">{{tag}}</a>
          {% endunless %}
        {% endfor %}
      </dd>

      {% assign similar = collections.all | similarPosts: page.inputPath, tags %}
      {% if similar.length > 0 %}
        <dt class="font-medium">Related posts</dt>
        <dd class="mb-1">
          {% for similarPost in similar limit: 3 %}<a href="{{ similarPost.url }}" class="link">{{similarPost.data.title}}</a> {% endfor %}
        </dd>
      {% endif %}
    </dl>
  </div>

</article>
