---
layout: layout.liquid
---
<h1 class="font-black leading-none max-w-xl mb-4 md:text-5xl self-center text-3xl text-gray-700">
  {{title}}
</h1>

{% if photos %}
  <div class="flex flex-wrap justify-center -mx-2 mb-8">
  {% for image in photos %}
    {% responsive_image image %}
  {% endfor %}
  </div>
{% endif %}

<div class="markdown max-w-2xl self-center">
  {{content}}
</div>

<div class="border-t-2 max-w-2xl mb-2 mt-2 pt-2 self-center text-gray-500 w-full">
  {{date | date: "%Y-%m-%d"}}
  {% for tag in tags %}
    {% unless tag == "entries" %}
      <a href="/tags/{{tag}}" class="prefix-hash link">{{tag}}</a>
    {% endunless %}
  {% endfor %}
</div>
