<div class="flex flex-col gap-2 grid-item {{ photoWidths | default: 'w-full md:w-1/2 p-4' }} pb-6 bg-white">
  <a
    href="{{ post.url }}"
    class="absolute h-full left-0 top-0 w-full bg-gray-500 ar-3x2 group"
  >
    <img
      src="{{ post.data.photos | first }}"
      alt="{{ post.data.title }}"
      eleventy:widths="400,800,1200,2000,3000,4000"
      sizes="(max-width: 640px) calc(100vw - 32px), 436px"
      loading="{% if forloop.index == 1 %}eager{% else %}lazy{% endif %}"
      class="absolute h-full inset-0 object-cover w-full group-hover:scale-105 transition-transform duration-700 ease-out"
    >
    <div class="px-4 inset-0 absolute flex flex-col justify-center text-center bg-gray-700 bg-opacity-25">
      <h2 class="text-3xl leading-relaxed pb-1">
        <span class="font-semibold text-salmon-200 box-decoration-clone bg-purple_heart/85 px-2 py-1 pt-2">
          {{- post.data.title -}}
        </span>
      </h2>
      <time
        datetime="{{ post.date | date: "%Y-%m-%d" }}"
        class="font-medium text-gray-100 pt-1"
      >
        {{ post.date | date: '%Y-%m-%d' }}
      </time>
    </div>
  </a>
  <div class="grid grid-cols-3 gap-2">
    {% for photo in post.data.photos offset: 1 %}
      <a
        href="{{ post.url }}"
        class="bg-gray-500 ar-3x2 group"
      >
        <img
          src="{{ photo }}"
          alt="{{ post.data.title }}"
          eleventy:widths="400,800,1200,2000,3000,4000"
          sizes="(min-width: 1700px) 103px, (min-width: 1040px) 140px, (min-width: 780px) calc(1.67vw + 102px), (min-width: 640px) 187px, calc(33.44vw - 16px)"
          class="bg-gray-500 absolute h-full inset-0 object-cover w-full group-hover:scale-105 transition-transform duration-700 ease-out"
        >
      </a>
    {% endfor %}
  </div>
</div>
