<div class="grid-item flex flex-col gap-2 {{ photoWidths | default: 'w-full md:w-1/2' }} pb-6">
  <a
    href="{{ post.url }}"
    class="ar-3x2 group absolute top-0 left-0 h-full w-full bg-gray-500"
  >
    {% image_html post.data.photoObjects.first.stats "list_photos_post_large" post.data.title, "eager" %}

    <div class="absolute inset-0 flex flex-col justify-center bg-gray-700/15 px-4 text-center transition-colors hover:bg-transparent">
      <h2 class="pb-1 text-3xl/14 text-balance">
        <span class="bg-neutral-100/65 box-decoration-clone px-2 py-1 pt-2 text-neutral-700 transition-colors group-hover:bg-neutral-100/85 dark:bg-neutral-900/65 dark:text-neutral-300 dark:group-hover:bg-neutral-900/85">
          {{- post.data.title -}}
        </span>
      </h2>
      <time
        datetime="{{ post.date | date: "%Y-%m-%d" }}"
        class="pt-1 font-medium text-gray-100"
      >
        {{ post.date | date: '%Y-%m-%d' }}
      </time>
    </div>
  </a>
  <div class="grid grid-cols-3 gap-2">
    {% for photo in post.data.photoObjects offset: 1 %}
      <a
        href="{{ post.url }}"
        class="ar-3x2 group bg-gray-500"
      >
        {% image_html photo.stats "list_photos_post_small" post.data.title %}
      </a>
    {% endfor %}
  </div>
</div>
