{% if post.data.photos.size > 0 %}
  {% assign photo = post.data.photos | first %}
{% else %}
  {% assign photo = false %}
{% endif %}
<div class="flex-initial w-full md:w-1/2 lg:w-1/2 xl:w-1/3 2-xl:w-3/12 ">
  <div class="mb-3 sm:m-3 shadow-lg">
    <div class="ar-3x2">
      <a
        href="{{ post.url }}"
        class="hover-wrapper absolute bg-cover h-full left-0 top-0 w-full rounded {% if photo %}text-gray-100 bg-gray-400{% else %}text-gray-700 bg-yellowish {% endif %}"
      >
        {% if photo %}
          <img
            src="{% image_url photo %}"
            loading="lazy"
            alt="{{post.data.title}}"
            class="absolute h-full inset-0 object-cover w-full"
          >
        {% endif %}
        <div class="px-4 inset-0 absolute flex flex-col justify-center text-center rounded {% if photo %}bg-gray-700 bg-opacity-25{% endif %}">
          <h2 class="{% if photo %}text-3xl lg:text-5xl leading-none{% else %}text-3xl leading-tight{% endif %} font-black hover-wrapper__underline">
            {{ post.data.title }}
          </h2>
          <time
            datetime="{{ post.date | date: "%Y-%m-%d" }}"
            class="font-medium"
          >
            {{ post.date | date: "%Y-%m-%d" }}
          </time>
        </div>
      </a>
    </div>
  </div>
</div>
