<div class="flex-initial mb-8 w-full text-gray-700 ">
  <a href="{{ post.url }}" class="">
    <h2 class="text-2xl sm:text-3xl sm:leading-relaxed leading-relaxed">
      <span class="font-semibold text-white box-decoration-clone bg-branding px-2 py-1">{{ post.data.title }}</span>
    </h2>
  </a>
  <div class="text-gray-500 font-light">
    <a href="{{ post.url }}">
      <time datetime="{{ post.date | date: "%Y-%m-%d" }}" class="text-gray-500 hover:text-branding">
        {{ post.date | date: "%Y-%m-%d" }}
      </time>
    </a>
    {% for tag in post.data.tags %}
      {% unless tag == "blogPost" %}
        <a href="/tags/{{tag}}" class="prefix-hash hover:text-branding">{{tag}}</a>
      {% endunless %}
    {% endfor %}
  </div>
</div>
