---
layout: layout.njk
---

<div class="flex flex-col w-content bg-white">
  <h1 class="header-block">{{ headline | default: title }}</h1>
  <div class="px-4 py-5 sm:p-6 markdown">
      {% if photos %}
        {% for photo in photos %}
          <div class="flex flex-col items-center">
            <div class="mb-10 max-w-screen-h">
              <img
                src="{{ photo }}"
                alt="{{ title }}"
                eleventy:widths="800,1200,2000,3000,4000"
                sizes="(max-width: 1000px) 100vw, 133vh"
                class="u-photo max-h-screen object-contain bg-white"
              >
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {{ content }}

      <open-heart
        class="mx-auto my-3 block w-fit rounded px-2 py-1"
        href="https://emojis.jonas-brusman-se.pages.dev/open_heart?id={{page.url}}"
        emoji="❤️"
        >❤️</open-heart
      >
    </div>
  </div>
  {% unless no_footer %}
    <div class="w-content mb-2 text-gray-700 bg-salmon-200">
      <div class="px-4 py-5 sm:p-6">
        <table class="w-full">
          {% if page.date %}
            <tr>
              <th class="align-baseline text-left font-normal pr-2 pb-2">{{ date_desc | default: 'Published at' }}</th>
              <td class="font-light align-baseline pb-2">
                <time class="dt-published" page.datetime="{{page.date | date: "%Y-%m-%d" }}">
                  <a href="{{page.url}}" class="u-url">{{ page.date | date: '%Y-%m-%d' }}</a>
                </time>
              </td>
            </tr>
          {% endif %}

          {% if tags.length > 0 %}
            <tr>
              <th class="align-baseline text-left font-normal whitespace-nowrap pr-2 pb-2">Tags</th>
              <td class="font-light align-baseline pb-2">
                {% for tag in tags %}
                  {% unless tag == 'blogPost' %}
                    <a href="/tags/{{tag}}/" class="prefix-hash link p-category">{{ tag }}</a>
                  {% endunless %}
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          {% assign similar = collections.all | similarPosts: page.inputPath, tags %}
          {% if similar.length > 0 %}
            <tr>
              <th class="align-baseline text-left font-normal whitespace-nowrap pr-2 pb-2">Related posts</th>
              <td class="font-light align-baseline pb-2">
                <ul class="list-disc list-inside">
                  {% for similarPost in similar limit: 3 -%}
                    <li class="mb-1">
                      <a href="{{ similarPost.url }}" class="link">{{ similarPost.data.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          {% endif %}

          {% if syndications.length > 0 %}
            <tr>
              <th class="align-baseline text-left font-normal whitespace-nowrap pr-2 pb-2 hidden">
                This post elsewhere
              </th>
              <td class="hidden font-light align-baseline">
                {% for url in syndications -%}
                  <a href="{{ url }}" rel="syndication" class="u-syndication link">{{ url }}</a>
                {% endfor %}
              </td>
            </tr>
          {% endif %}

          <tr>
            <th class="align-baseline text-left font-normal pr-2 pb-2">Have some thoughts?</th>
            <td class="font-light align-baseline pb-2">
              <a href="mailto:blog@brusman.se?subject=Re: {{title}}" class="link">Reply by email</a>
            </td>
          </tr>

          <tr class="js-tr-webmentions">
            <th class="align-baseline text-left font-normal whitespace-nowrap pr-2 pb-2">Reactions</th>
            <td id="webmentions" class="font-light align-baseline pb-2 flex flex-col"></td>
          </tr>
        </table>

        <script src="/js/open_heart_element.js" type="module"></script>
        <script>
          window.customElements.whenDefined('open-heart').then(() => {
            for (const oh of document.querySelectorAll('open-heart')) {
              oh.getCount();
            }
          });
          window.addEventListener('open-heart', (e) => {
            e && e.target && e.target.getCount && e.target.getCount();
          });
        </script>

        <a rel="author" class="hidden p-author h-card" href="https://jonas.brusman.se">Jonas Brusman</a>
        <script
          src="/js/webmention.min.js"
          data-page-url="https://jonas.brusman.se{{page.url}}"
          data-add-urls="https://jonas.brusman.se/{{date | date: "%Y-%m-%d"}}-{{page.fileSlug}}/"
          data-comments-are-reactions="true"
          async
        ></script>
      </div>
    </div>
  {% endunless %}
</article>
