---
layout: layout.liquid
pagination:
    data: bookmarks
    size: 1
    alias: bookmark
permalink: "{{ bookmark.permalink }}/"
---
<article class="h-entry w-content flex flex-col">
  <div class="header-block flex flex-col items-start">
    <a
      href="{{ bookmark.link }}"
      class="u-bookmark-of "
      rel="noopener"
    >
      <h1 class="text-3xl leading-normal font-black tracking-tight text-balance sm:text-4xl sm:leading-normal md:text-5xl md:leading-normal">
        {{ bookmark.title | default: title | replace: 'ร', 'รถ' }}
      </h1>
    </a>
    <a href="{{bookmark.link}}" class="mt-2 block text-xl text-salmon" rel="noopener">
      {{- bookmark.prettyUrl -}}
    </a>
  </div>

  <div class="markdown e-content bg-white">
    <div class="px-4 py-5 sm:p-6">
      <p>{{ bookmark.content }}</p>

      {% if bookmark.excerpt.length > 1 %}
        <blockquote class="h-cite e-content font-light text-gray-500">
          {{ bookmark.excerpt -}}
        </blockquote>
      {% endif %}
    </div>
  </div>

  <div class="mb-2 bg-salmon-200 text-gray-700">
    <div class="px-4 py-5 sm:p-6">
      <table class="w-full">
        {% if bookmark.date %}
          <tr>
            <th class="footer-header">Published at</th>
            <td class="footer-data">
              <time class="dt-published" datetime="{{bookmark.date | date: "%Y-%m-%d" }}">
                <a href="{{page.url}}" class="u-url">{{ bookmark.date | date: '%Y-%m-%d' }}</a>
              </time>
            </td>
          </tr>
        {% endif %}

        {% if bookmark.tags.length > 0 %}
          <tr>
            <th class="footer-header">Tags</th>
            <td class="footer-data">
              {% for tag in bookmark.tags %}
                {% unless tag == 'blogPost' %}
                  <span class="prefix-hash">{{ tag }}</span>
                {% endunless %}
              {% endfor %}
            </td>
          </tr>
        {% endif %}
      </table>
      <a rel="author" class="p-author h-card hidden" href="https://jonas.brusman.se">Jonas Brusman</a>
    </div>
  </div>
</article>
