---
layout: layout.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - blogPosts
  - all
permalink: /tags/{{ tag }}/
eleventyComputed:
  title: "{{tag}}"
  description: Posts tagged with {{ tag }}
eleventyExcludeFromCollections: true
---
{% assign tagged_posts = collections[tag] %}
{% assign tagged_texts = tagged_posts | where: 'data.blogPostType', 'text' %}
{% assign tagged_photos = tagged_posts | where: 'data.blogPostType', 'photo' %}

{% if tagged_texts.size > 0 %}
  <div class="flex flex-col w-content bg-white">
    <h2 class="text-3xl leading-tight font-semibold text-salmon bg-purple_heart rounded-t py-7 px-6">
      Texts tagged with <span class="prefix-hash">{{ tag }}</span>
    </h2>
    <div class="px-4 py-5 sm:p-6">
      {% for post in tagged_texts reversed %}
        {% unless post.data.photos %}
          {% include 'list_text_post' %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if tagged_photos.size > 0 %}
  <script defer src="/js/masonry.pkgd.min.js"></script>
  <div class="flex flex-col w-content bg-white {% if tagged_texts.size > 0 %}mt-5{% endif %}">
    <h2 class="text-3xl leading-tight font-semibold text-salmon bg-purple_heart rounded-t py-7 px-6">
      Photos tagged with <span class="prefix-hash">{{ tag }}</span>
    </h2>
    <div class="px-4 py-5 sm:p-6">
      <div
        class="flex flex-wrap -mx-4"
        data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-item", "percentPosition": true }'
      >
        {% assign photoWidths = 'w-full md:w-1/2 xl:w-1/2 p-4' %}
        {% for post in tagged_photos reversed %}
          {% include 'list_photos_post' %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
