---
layout: layout.liquid
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - blogPosts
  - all
permalink: /tags/{{ tag }}/
eleventyComputed:
  title: "{{tag}}"
  description: Posts tagged with {{ tag }}
eleventyExcludeFromCollections: true
---
{% assign tagged_posts = collections[tag] %}
{% assign tagged_articles = tagged_posts | where: 'data.blogPostType', 'article' %}
{% assign tagged_photos = tagged_posts | where: 'data.blogPostType', 'photo' %}

{% if tagged_articles.size > 0 %}
  <div class="w-content flex flex-col">
    <h2 class="header-block">
      <span>
        Articles tagged with <span class="prefix-hash">{{ tag }}</span>
      </span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="header-icon"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
      </svg>
    </h2>
    <div class="bg-white px-4 py-5 sm:p-6">
      {% for post in tagged_articles reversed %}
        {% unless post.data.photos %}
          {% include 'list_article' %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if tagged_photos.size > 0 %}
  <div class="w-content flex flex-col {% if tagged_articles.size > 0 %}mt-5{% endif %}">
    <h2 class="header-block">
      <span>
        Photos tagged with <span class="prefix-hash">{{ tag }}</span>
      </span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="header-icon"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
      </svg>
    </h2>
    <div class="bg-white px-4 py-5 sm:p-6">
      <div class="photos-grid -mx-4 flex flex-wrap">
        {% assign photoWidths = 'w-full md:w-1/2 xl:w-1/2 p-4' %}
        {% for post in tagged_photos reversed %}
          {% include 'list_photos_post' %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
